set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set editing-mode vi
set mark-symlinked-directories on
# set menu-complete-display-prefix on
set show-all-if-ambiguous on

# Bindings
"\e[Z": menu-complete-backward
TAB: menu-complete
"\e[A": history-search-backward
"\e[B": history-search-forward
