// vim: fdm=indent
// https://yalter.github.io/niri/Configuration:-Introduction

spawn-at-startup "qs" "-c" "noctalia-shell"
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
	honor-xdg-activation-with-invalid-serial // Allows notification actions and window activation from Noctalia.
}

input {
	//max-scroll-amount="0%"
	focus-follows-mouse
	warp-mouse-to-focus

	keyboard {
		xkb {
			// For more information, see xkeyboard-config(7).
			// layout "us,ru"
			// options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
			// localectl set-x11-keymap.
		}
		// numlock
	}

	touchpad {
		// off
		tap
		// dwt
		// dwtp
		// drag false
		// drag-lock
		natural-scroll
		// accel-speed 0.2
		// accel-profile "flat"
		// scroll-method "two-finger"
		// disabled-on-external-mouse
	}

	mouse {
		// off
		// natural-scroll
		// accel-speed 0.2
		// accel-profile "flat"
		// scroll-method "no-scroll"
	}

	trackpoint {
		// off
		// natural-scroll
		// accel-speed 0.2
		// accel-profile "flat"
		// scroll-method "on-button-down"
		// scroll-button 273
		// scroll-button-lock
		// middle-emulation
	}
}

output "eDP-1" {
	//`niri msg outputs`
	// off
	mode "1920x1080@120.030"
	scale 1 //Integer or fractional scale, for example use 1.5 for 150% scale.
	transform "normal" // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
	position x=1280 y=0
}

animations {
	// Uncomment to turn off all animations.
	// off

	// Slow down all animations by this factor. Values below 1 speed them up instead.
	// slowdown 3.0
}

window-rule {
	geometry-corner-radius 20
	clip-to-geometry true
}
window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	match app-id="org.gnome.NautilusPreviewer"
	match app-id="app.zen_browser.zen" title=".*Bitwarden.*"

	open-floating true
}

layer-rule {
	match namespace="^noctalia-overview*"
	place-within-backdrop true
}

layout {
	gaps 20
	center-focused-column "never" //always on-overflow
	default-column-width {} // Bracket empty <=> window decide its proportions

	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 0.99
	}

	preset-window-heights {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 0.99
	}

	focus-ring {
		on
		width 3
	}

	border {
		on
		width 2
	}

	shadow {
		on
		draw-behind-window true
		softness 30
		spread 5
		offset x=0 y=5
	}

	tab-indicator {
		width 8
		gaps-between-tabs 2
		length total-proportion=0.9
	}

	insert-hint {
		on
	}
}

binds {
	// Niri specials
	Mod+O repeat=false { toggle-overview; }
	Mod+Return repeat=false { toggle-overview; }
	Mod+Q repeat=false { close-window; }
	Mod+Shift+E { quit; }
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; } // Inhibit kbd shortcut
	Mod+Shift+P { power-off-monitors; } // Poweroff monitor, to turn back on do any input
	Super+Alt+l hotkey-overlay-title="Lock the Screen" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }

	// Launch
	Mod+T hotkey-overlay-title="Open a Terminal" { spawn "alacritty"; }
	Mod+D hotkey-overlay-title="Run an Application" { spawn-sh "fuzzel --show-actions"; }
	Mod+Space hotkey-overlay-title="Run an Application" { spawn-sh "fuzzel --show-actions"; }
	Alt+Space hotkey-overlay-title="Run an Application" { spawn-sh "fuzzel --show-actions"; }
	Ctrl+Space hotkey-overlay-title="Run an Application" { spawn-sh "xdg-open \"$(fd --color=never . ~/Scaricati ~/pCloudDrive | fuzzel --dmenu --width 50)\""; }


	// Focus
	Mod+Left  { focus-column-or-monitor-left; }
	Mod+Down  { focus-window-or-workspace-down; }
	Mod+Up    { focus-window-or-workspace-up; }
	Mod+Right { focus-column-or-monitor-right; }
	Mod+H     { focus-column-or-monitor-left; }
	Mod+J     { focus-window-or-workspace-down; }
	Mod+K     { focus-window-or-workspace-up; }
	Mod+L     { focus-column-or-monitor-right; }
	Mod+Home { focus-column-first; }
	Mod+End  { focus-column-last; }

	// Move windows
	Mod+Shift+Left  { move-column-left-or-to-monitor-left; }
	Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
	Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
	Mod+Shift+Right { move-column-right-or-to-monitor-right; }
	Mod+Shift+H     { move-column-left-or-to-monitor-left; }
	Mod+Shift+J     { move-window-down-or-to-workspace-down; }
	Mod+Shift+K     { move-window-up-or-to-workspace-up; }
	Mod+Shift+L     { move-column-right-or-to-monitor-right; }
	Mod+Shift+Home { move-column-to-first; }
	Mod+Shift+End  { move-column-to-last; }
	Mod+Comma  { consume-window-into-column; }
	Mod+Period { expel-window-from-column; }


	// Montior
	Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
	Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
	Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
	// Mod+Shift+Left  { focus-monitor-left; }
	// Mod+Shift+Down  { focus-monitor-down; }
	// Mod+Shift+Up    { focus-monitor-up; }
	// Mod+Shift+Right { focus-monitor-right; }
	// Mod+Shift+H     { focus-monitor-left; }
	// Mod+Shift+J     { focus-monitor-down; }
	// Mod+Shift+K     { focus-monitor-up; }
	// Mod+Shift+L     { focus-monitor-right; }

	// Workspace
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+Shift+1 { move-column-to-workspace 1; }
	Mod+Shift+2 { move-column-to-workspace 2; }
	Mod+Shift+3 { move-column-to-workspace 3; }
	Mod+Shift+4 { move-column-to-workspace 4; }
	Mod+Shift+5 { move-column-to-workspace 5; }
	Mod+Shift+6 { move-column-to-workspace 6; }
	Mod+Shift+7 { move-column-to-workspace 7; }
	Mod+Shift+8 { move-column-to-workspace 8; }
	Mod+Shift+9 { move-column-to-workspace 9; }

	// Resize
	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }

	// Fullscreen
	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }
	Mod+Ctrl+F { expand-column-to-available-width; }

	// Centering
	Mod+C { center-column; }
	Mod+Ctrl+C { center-visible-columns; }

	// Floating
	Mod+V       { toggle-window-floating; }
	Mod+Shift+V { switch-focus-between-floating-and-tiling; }

	// Tab
	Mod+W { toggle-column-tabbed-display; }

	// Screenshot
	Mod+Shift+s { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }

	// Media
	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
	XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
	XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
	XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

	// Mouse
	Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
	Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
	Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
	Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
	Mod+WheelScrollRight      { focus-column-right; }
	Mod+WheelScrollLeft       { focus-column-left; }
	Mod+Ctrl+WheelScrollDown      { focus-column-right; }
	Mod+Ctrl+WheelScrollUp        { focus-column-left; }
	Mod+Ctrl+WheelScrollRight { move-column-right; }
	Mod+Ctrl+WheelScrollLeft  { move-column-left; }
	Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
	Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
}

include "./noctalia.kdl"
