layout {

    focus-ring {
        active-color   "#066d37"
        inactive-color "#f9faf4"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#066d37"
        inactive-color "#f9faf4"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#066d37"
        inactive-color "#9cf6b1"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#066d3780"
    }
}

recent-windows {
    highlight {
        active-color "#066d37"
        urgent-color "#ba1a1a"
    }
}
