layout {

    focus-ring {
        active-color   "#0f61a4"
        inactive-color "#faf9fd"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#0f61a4"
        inactive-color "#faf9fd"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#0f61a4"
        inactive-color "#d2e4ff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#0f61a480"
    }
}

recent-windows {
    highlight {
        active-color "#0f61a4"
        urgent-color "#ba1a1a"
    }
}
