layout {

    focus-ring {
        active-color   "#005529"
        inactive-color "#f6fbf3"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#005529"
        inactive-color "#f6fbf3"
        urgent-color   "#ba1a1a"
    }


    tab-indicator {
        active-color   "#005529"
        inactive-color "#0e703a"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#00552980"
    }
}

recent-windows {
    highlight {
        active-color "#005529"
        urgent-color "#ba1a1a"
    }
}
