set editing-mode vi
set completion-ignore-case
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set colored-stats on
set colored-completion-prefix on
set completion-map-case on
set mark-symlinked-directories on

# Bindings
"\e[Z": menu-complete-backward
TAB: menu-complete
"\e[A": history-search-backward
"\e[B": history-search-forward
